{% extends "base.html" %}
{% block content %}
<div class="auth-class">
    <div class="auth-card">
        <h2>
            Forgot password
        </h2>
        <p class="sub-text">
            enteryour registered email address
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="enter email" required>
            <button type="submit"> Send Reset Link</button>
        </form>
        <a href="/login">Back to login</a>


    </div>

</div>
{% endblock %}