{% extends "base.html" %}

{% block content %}
<div class="auth_container">
    <div class="auth-card">
        <h2>
            Create Account
        </h2>
        <p class="sub-text">
            Start your AI journey
        </p>
        <form method="POST">
            <input type="email" name="email" placeholder="enter your email" required>
            <input type="password" name="password" placeholder="enter your password" required>
            <p class="sub-text">
                enter atleast 6 digits

            </p>
            <button type="submit">SignUp</button>
    </form>
    <p class="switch-auth">
        Already have an account <a href="/login">Login</a>
    </p>

    </div>
</div>
{% endblock %}